.container-filter{
   position: relative;
}

.container{
      background-color: #fff;
      width: 50%;
      height: 300px;
      position: fixed;
      top: 0px;
      right: 0px;
      z-index: 10;
}

.img-x{
      cursor: pointer;
      margin: 10px 10px;
      position:absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      border: none;
}

.fa-x{
      background-color: transparent;
}

.title-filter{
      margin: 30px 10px;
}

.conteiner-category {
      overflow: hidden;
     height: 43px;
      width: 100%;
      border: solid 1px black;
   
}

.map-category{
  
      margin-top: 10px;
      text-align: center;
}

.category-p {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-bottom: solid 1px black;
      text-align: center;
}

.button-category{
      color: gray;
      cursor: pointer;
      background-color: #fff;
      border:  none;
}

.button-category:hover{
      color: black;
}

.container-category-over{
      overflow: visible;
}